//Mappa colori
  $white: #FFFFFF;
  $black: #000000;
  $dark-grey: #4E485A;
  $acid-green: #BFFF58;
  $dark-purple: #2F0093;
  $purple: #4B00E9;

  //Mappa font-family
  $font-display: "Space Grotesk";
  $font-heading-124: "Manrope";
  $font-heading-3: "Space Grotesk";
  $font-body: "Manrope";
  $font-caption:"Space Grotesk";
  $font-navigation: "Manrope";
  $font-button: "Space Grotesk";

  //Mappa font-size

  $font-size-display-1: 264px;
  $font-size-display-2: 120px;
  $font-size-heading-1: 64px;
  $font-size-heading-2: 44px;
  $font-size-heading-3: 40px;
  $font-size-heading-4: 32px;
  $font-size-body-L: 24px;
  $font-size-body-M: 18px;
  $font-size-caption: 14px;
  $font-size-navigation: 20px;
  $font-size-button: 20px;